.panel.panel-warning
  .panel-heading
    %strong Questions?
  .panel-body
    %p Call us between 9am and 5pm (GMT) on 03300 881002 to discuss.
    = mail_to Shoppe.settings.email_address, "or send us an email", :subject => "Question about the #{@product.name}", class: 'btn btn-default btn-block'
.panel.panel-success
  .panel-heading
    %strong Reasons To Shop With Us
  .panel-body
    %h5 Free technical support
    %p We'll help you get your phone working. Just call or e-mail us.
    %hr
    %h5 Quality assurance
    %p We check all the produts we ship so you can rely on us.
    %hr
    %h5 Next day delivery
    %p Order before 4pm and your order will be with you the next business day.