//= require bootstrap
//= require bootstrap-theme

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('/assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.demo {
	width: 100%;
	background:#1476ba;
	color:#fff;
	border-bottom:1px solid #0c588e;
	font-size:0.8em;
	.inner {
		background:image-url('shoppe/logo.svg') no-repeat 0 14px;
		background-size:24px;
		padding:15px 0;
		p { margin-left:34px;}
		ul.links {
			float:right;
			li {
				float:left;
				margin-left:15px;
				a {
					background:rgba(255,255,255,0.2);
					text-decoration:none;
					padding:3px 10px;
					border-radius:4px;
				}
			}
		}
	}
}
.jumbotron {
	margin-top: 50px;
	margin-bottom: 0px;
	background: url("header.jpg") no-repeat scroll center center rgba(0, 0, 0, 0); 
	color: #ffffff;
}
.home-bar {
	background: #174f55;
	color: #ffffff;
	padding: 20px 20px 10px 20px;
	margin-bottom: 15px;
}
.page-header {
	margin-top: 70px;
}
.errorExplanation {
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #FDF2F2;
  border-color: #F29797;
  color: #A81515;
  border: 1px solid red;
}
.errorExplanation h2 {
  font-size: 24px;
  margin-bottom: 10px;
}