@import "bootstrap";
@import "bootstrap/theme";

div.field_with_error { 
	display:inline;
}
div#flash-notice { 
	background:#33a174; 
	color:#fff; 
	text-align:center; 
	padding:8px; 
	font-size:0.9em; 
	font-weight:bold;
	p {
		margin: 0px;
	}
}
div#flash-alert { 
	background:#a13361; 
	color:#fff; 
	text-align:center; 
	padding:8px; 
	font-size:0.9em; 
	font-weight:bold;
	p {
		margin: 0px;
	}
}
.demo {
	width: 100%;
	background:#1476ba;
	color:#fff;
	border-bottom:1px solid #0c588e;
	font-size:0.8em;
	.container {
		background:image-url('shoppe/logo.svg') no-repeat 15px 8px;
		background-size:24px;
		padding-top:10px;
		p { 
			margin-left:34px;
			a {
				color: #fff;
				text-decoration: underline;
			}
		}
		ul.links {
			list-style-type: none;
			li {
				float:left;
				margin-left:15px;
				a {
					background:rgba(255,255,255,0.2);
					text-decoration:none;
					padding:3px 10px;
					border-radius:4px;
					color: #fff;
				}
			}
		}
	}
}
.navbar {
	margin-bottom: 0px;
}
.jumbotron {
	margin-bottom: 0px;
	background: url("/assets/header.jpg") no-repeat scroll center center rgba(0, 0, 0, 0); 
	color: #ffffff;
}
.home-bar {
	background: #174f55;
	color: #ffffff;
	padding: 20px 20px 10px 20px;
	margin-bottom: 15px;
}
footer {
	background: #112326;
	color: #848484;
  margin-top:20px;
	padding-top: 20px;
	padding-bottom: 15px;
	.no-circle {
		list-style-type: none;
		line-height: 24px;
		text-decoration: underline;
		a {
			color: #848484;
		}
	}
	.h1 {
		color: #fff;
	}
	.copyright {
		font-size: 0.9em;
	}
}
.errorExplanation {
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #FDF2F2;
  border-color: #F29797;
  color: #A81515;
  border: 1px solid red;
}
.errorExplanation h2 {
  font-size: 24px;
  margin-bottom: 10px;
}