- active_nav_item :catalogue
- @page_title = @product_category.name
.row
  .col-md-12
    - unless @product_category.description.blank?
      %p= @product_category.description
    - if @products.empty?
      .alert.alert-danger There are no products in this category
    - else
      %hr
      = render 'shared/product_list', :products => @products
