- active_nav_item :catalogue
- @page_title = @product_category.name
.row
  .large-12.columns
    %h2= @product_category.name
    - unless @product_category.description.blank?
      %p.intro= @product_category.description
    - if @products.empty?
      .alert-box.info.radius There are no products in this category
    - else
      %hr
      = render 'shared/product_list', :products => @products
